@tailwind base;
@tailwind components;
@tailwind utilities;


 /* easier to manipulate
//LIGHT
        --color-foreground: 329deg 0% 78%;
        --color-background: 329deg 0% 14%;
        --color-background-start: 179deg 10% 73%;
        --color-background-end: 193deg 4% 83%;
        --color-primary: 277deg 53% 28%;
        --color-secondary: 65deg 89% 36%;
        --color-button: 215deg 84% 32%;
        --color-border: 79deg 65% 17%;
        --color-card: 262deg 26% 86%;
        --color-icon: 177deg 70% 25%;
        --color-typography: 316deg 50% 6%;
//DARK
        --color-foreground: 329deg 0% 14%;
        --color-background: 329deg 0% 78%;
        --color-background-start: 179deg 10% 13%;
        --color-background-end: 193deg 4% 23%;
        --color-primary: 277deg 53% 58%;
        --color-secondary: 65deg 89% 36%;
        --color-button: 215deg 90% 62%;
        --color-border: 79deg 40% 89%;
        --color-card: 262deg 30% 16%;
        --color-icon: 177deg 70% 50%;
        --color-typography: 316deg 19% 89%;
 */       


  :root {
    --color-foreground: 329deg 0% 78%;
    --color-background: 329deg 0% 14%;
    --color-background-start: 179deg 10% 73%;
    --color-background-end: 193deg 4% 83%;
    --color-primary: 277deg 53% 28%;
    --color-secondary: 65deg 89% 36%;
    --color-button: 215deg 84% 32%;
    --color-border: 79deg 65% 17%;
    --color-card: 262deg 26% 86%;
    --color-icon: 177deg 70% 25%;
    --color-typography: 316deg 50% 6%;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-foreground: 329deg 0% 14%;
      --color-background: 329deg 0% 78%;
      --color-background-start: 179deg 10% 13%;
      --color-background-end: 193deg 4% 23%;
      --color-primary: 277deg 53% 58%;
      --color-secondary: 65deg 89% 46%;
      --color-button: 215deg 90% 62%;
      --color-border: 79deg 40% 89%;
      --color-card: 262deg 30% 16%;
      --color-icon: 177deg 70% 50%;
      --color-typography: 316deg 19% 89%;
    }
  }
  .light {
    --color-foreground: 329deg 0% 78%;
    --color-background: 329deg 0% 14%;
    --color-background-start: 179deg 10% 73%;
    --color-background-end: 193deg 4% 83%;
    --color-primary: 277deg 53% 28%;
    --color-secondary: 65deg 89% 36%;
    --color-button: 215deg 84% 32%;
    --color-border: 79deg 65% 17%;
    --color-card: 262deg 26% 86%;
    --color-icon: 177deg 70% 25%;
    --color-typography: 316deg 50% 6%;
  }
  .dark {
    --color-foreground: 329deg 0% 14%;
    --color-background: 329deg 0% 78%;
    --color-background-start: 179deg 10% 13%;
    --color-background-end: 193deg 4% 23%;
    --color-primary: 277deg 53% 58%;
    --color-secondary: 65deg 89% 46%;
    --color-button: 215deg 90% 62%;
    --color-border: 79deg 40% 89%;
    --color-card: 262deg 30% 16%;
    --color-icon: 177deg 70% 50%;
    --color-typography: 316deg 19% 89%;
  }

  @layer base {
  body {
    @apply text-typography;
    background: linear-gradient(to bottom,
        transparent,
        hsl(var(--color-background-end))) hsl(var(--color-background-start));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary;
  }

  p {
    @apply leading-6;
    @apply mb-6;
  }

  * {
    @apply transition-colors duration-100;
  }

  h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply mb-4;
  }

  h2 {
    @apply text-2xl;
    @apply font-semibold;
    @apply mb-4;
  }

  h3 {
    @apply text-xl;
    @apply font-semibold;
    @apply mb-4;
  }

  h4 {
    @apply text-lg;
    @apply font-medium;
  }

  h5 {
    @apply text-base;
    @apply font-medium;
  }


}

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }